/* Temp styles */
/* main .home {
  grid-column: 1/5;
} */

.home {
  color: #686868;
}

.features__container {
  background-image: linear-gradient(
      to right bottom,
      rgba(72, 76, 71, 0.8),
      rgba(84, 116, 105, 0.341)
    ),
    url(../images/budgeting.png);
  background-size: cover;
  margin-top: 3rem;
  padding: 15rem 0px;
}

.home .features {
  display: flex;
  gap: 8rem;
  justify-content: center;
}

.home .card {
  display: flex;
  flex-direction: column;
  max-width: 26rem;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  text-align: center;
  height: 33rem;
  gap: 2rem;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1.5rem 4rem;
  padding: 2.5rem;
  border-radius: 3px;
  transition: transform 0.3s ease 0s;
}

.home .card:hover {
  transform: translateY(-1rem) scale(1.03);
}

.home .card .icon {
  font-size: 6rem;
  margin-bottom: 2rem;
}
